* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: #a32638;
  color: #fff;
}

body {
  padding-top: 13vh;
}

.navbar {
  padding: 0 7.5rem;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #d8ded9;
  background-color: #edede9;
  width: 100vw;
  height: 12vh;
}

.nav_logo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 70%;
}

.nav_option {
  background-color: #faedcd;
  border: 1px solid transparent;
  border-radius: 999px;
  display: flex;
  gap: 0.1rem;
}

.active {
  background-color: #0c1821;
  color: white !important;
}

.nav_option a {
  border-radius: 999px;
  text-decoration: none;
  color: black;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  font-size: 0.82rem;
}

.nav_option a:hover {
  background-color: #ccc9dc;
  color: #0c1821;
  border-radius: 999px;
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  font-size: 0.82rem;
}

.navbar .nav_option .active:hover {
  background-color: #0c1821 !important;
  color: white !important;
  border-radius: 999px !important;
  padding: 0.3rem 0.5rem !important;
  font-weight: 600 !important;
  font-size: 0.82rem !important;
}
