<% layout("layouts/boilerplate.ejs") %>
  <body>
    <h1>Laboratory Dashboard</h1>
    <h2>All donors</h2>
    <ul>
       <% for(let donor of allDonor) { %>
          <li><%=donor.name%>
             &nbsp; &nbsp; &nbsp;
            <a href="/lab/<%= donor._id %>/testresult">Enter Test Result</a>
        </li>
       <% } %>
    </ul>
  </body>
