<% layout("layouts/boilerplate.ejs") %>
  <body>
    <% if(allDonor.length === 0){ %>
         <h1>No results found for <%= search %></h1>
    <% } else { %>
    <h1>Search Result</h1>
    <% for (let donor of allDonor) { %>
    <h2><%= donor.name %></h2>
    <% } } %>
  </body>
